at/furti/spring-rest-client/0.0.1/src/main/resources/at/furti/springrest/client/config/restrepository.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns="http://www.furti.at/schema/restrepository"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.furti.at/schema/restrepository"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:element name="repositories">
		<xsd:complexType>
			<xsd:attribute name="basePackage" use="required" type="xsd:string" />
			<xsd:attribute name="client-ref" use="optional" type="xsd:string" />
		</xsd:complexType>
	</xsd:element>
</xsd:schema>